*, html{
    margin: 0;
    padding: 0;
}

body{
    padding: 8px;
}
.calculator{

    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 100px;
    display: grid;
    width: 270px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: inherit;
    border-radius: 10px;

}
.input {
    grid-column: 1 / span 4;
    width: 90%;
    margin: 15px 0;
    height: 60px;
    background-color: #282727;
    color: white;
    font-size: 20px;
    padding: 0px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}
button {
    height: 50px;
    width: 50px;
    place-self: center;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 2px 2px #888888;
    transition: opacity 0.3s ease;
}
#itemeq{
    grid-column-start: 3;
    grid-column-end: 5;
    margin: 0;
    width: 120px;
}
.blue {
    background-color: rgb(40, 99, 227);
    color: black;
    font-weight: bold;
    color: aliceblue;
    box-shadow: 2px 2px rgb(40, 99, 227, 0.7);
}
.gray{
    background-color: rgb(191 190 190);
}
button:hover{
    cursor: pointer;
    opacity: 0.85;
}
button:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px #888888;
}

/* width */
.input::-webkit-scrollbar {
    height: 6px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    overflow: hidden;
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(40, 99, 227); 
    border-radius: 10px;
    

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: rgb(40, 99, 227, 0.7);
  }