@import url('animation.css');

body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 31);
    font-family: 'Roboto Slab', serif;
    transition: all 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;

}


.hr {
    margin: 100px 50px;
    border-color: rgb(107, 107, 152);
}

.nav-sticky{
    z-index: 100;
}

.navbar {
    background-color: rgb(22, 22, 89);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    transition: all 0.3s ease;


}
.nav-sticky .navbar{
    top: 0;
}

.navbar .left {
    color: rgb(228, 228, 255);
    margin-left: 30px;
    font-size: 30px;

}

.navbar .left:hover {
    font-size: 30.3px;
    cursor: pointer;
    color: rgb(255, 255, 255);

}

.right {
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;

}

.right ul li {
    list-style: none;
    margin: 0px 15px;

}

.right ul li a:hover {
    font-size: 20.5px;
    color: rgb(171, 171, 213);


}

.right ul li a {
    text-decoration: none;
    color: rgb(191, 191, 228);
}

.right ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.nav-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(2, 2, 31, 0.9);
    border-radius: 10px;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 99;
    transition: all 0.3s ease;
    
}
.nav-sticky .nav-down .nav-slide{
        top: 68px;
    }

.nav-slide ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.nav-slide ul li{
 width: 400px;
 list-style: none;
 text-align: center;
 width: 100%;
 margin: 10px;

}


.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 120PX;
}

/* .home-right{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.home-right img {
    height: 425px;
    width: 425px;
    border: 4px solid white;
    border-radius: 100%;
    overflow: hidden;
    animation-name: popup;
    animation-duration: 500ms;
    transition-duration: 1s;
}


.home-left {
    color: white;
    font-size: 60px;
}

.running-text {
    font-size: 50px;
}


.home-left-icons {
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 0px;

}

.home-left-icons .social-icons a img {
    height: 30px;
    width: auto;
    padding: 5px;
    filter: invert(1);
    margin-right: 40px;


}

.home-left-icons .social-icons a {
    height: 40px;
    width: 40px;
}

.home-left-icons .social-icons a img:hover {
    filter: invert(0);
    background-color: white;
    border-radius: 5px;
    padding: 6px;

}

.side-border {
    border-left: 2px solid rgb(107, 107, 152);
    height: 150px;
    margin-left: 50px;
    transition: all .75s ease;
    animation-name: slide;
    animation-duration: 0.75s;
}



.heading-text {
    color: white;
    font-size: 60px;
    margin-left: 30px;
}

.heading-text-char {
    margin-top: -10px;
}

.space {
    margin: 25px 0px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content {
    color: aliceblue;
    width: 500px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    right: 300px;
}

    .about-image img {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0.5;
        border-radius: 10px;
    }

.about-things {
    height: 700px;
    width: 70%;
    margin-right: 70px;
    position: relative;
}

.button {
    height: 36px;
    width: 136px;
    background-color: rgb(22, 22, 89);
    color: aliceblue;
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.25s ease;
}

.button:hover {
    background-color: rgb(32, 32, 98);
    cursor: pointer;
    font-size: 16px;
}

.contact {
    color: aliceblue;
}

.contact h1 {
    margin: 50px;
    font-size: 2rem;
}

.contact input {
    width: 200px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    margin: auto;
    border-radius: 10px;
    padding: 20px;


}

.contact-form input {
    width: 62%;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid white;
    padding: 0;
    margin: 10px;
    color: aliceblue;
    font-size: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: aliceblue;
    font-size: 15px;
}

.contact-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-form h4 {
    width: 60%;
}

.contact-form textarea {
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid white;
    padding: 10px;
    color: aliceblue;
    font-size: 15px;
    min-width: 59%;
    max-width: 59%;
    min-height: 80px;
    max-height: 80px;
}

.contact-form div {
    width: 62%;
    height: auto;
    margin-top: 40px;
    padding: 0;
}

.contact-form div button {
    margin: 0;
}

footer {
    color: aliceblue;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: rgb(22, 22, 89);
    margin-top: 50px;
    padding: 10px;

}

.footerlinks {
    margin-bottom: 10px;
}

.footerlinks a {
    text-decoration: none;
    color: rgb(191, 191, 228);
    margin: 10px;


}

.nav-container {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(191, 191, 228);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}